#game-screen {
  position: absolute;
  right: 30%;
  top: 8%;
  background-color: rgb(85, 103, 129);
  border: 5px solid black;
}

.center-text-box {
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
}

 .bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;

 }
 .bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  opacity: 0.4;
  z-index: -1;
 }

 .center {
  text-align: center;
  vertical-align: middle;
 }

 #start-button {
  text-decoration: underline;
 }

 #start-button:hover {
  color: red;
 }

 #delete-button {
  text-decoration: underline;
 }

 #delete-button:hover {
  color: red;
 }

 #game-boat {
  width: 50px;
  height: 50px;
  opacity: 0.75;
  position: relative;
  /* background-image: "./assets/images/boatgif.gif"; */
  /* background-color: red; */
  /* top: 350px; */
  /* bottom: 0; */
  /* right: 175px; */
  /* left: 175px; */
 }

 .rumRunner {
   width: 25px;
   height: 25px;
   position: absolute;
 }

#scoreboard {
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 100;
  text-decoration-color: red;
}

#scoreboard p {
  color: black;
}
