#game-screen {
  position: absolute;
  right: 30%;
  top: 5%;
  background-image: url('./assets/images/boatbackground.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 5px solid black;
}

.center-text-box {
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
}

 .bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;

 }
 .bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  opacity: 0.4;
  z-index: -1;
 }

 .center {
  text-align: center;
  vertical-align: middle;
 }

 #start-button {
  text-decoration: underline;
  line-height: 20px;
 }

 #start-button:hover {
  color: red;
 }

 #delete-button {
  text-decoration: underline;
  line-height: 20px;
 }

 #delete-button:hover {
  color: red;
 }

 #game-boat {
  width: 100px;
  height: 100px;
  /* opacity: 0.2; */
  position: relative;
  /* background-image: "./assets/images/boatgif.gif"; */
  /* background-color: red; */
  /* top: 350px; */
  /* bottom: 0; */
  /* right: 175px; */
  /* left: 175px; */
  /* transform: rotateY(); */
 }

 .rumRunner {
   width: 45px;
   height: 45px;
   position: absolute;
 }

 .gasTank {
   width: 35px;
   height: 35px;
   position: absolute;
 }

 .Buoy {
   width: 55px;
   height: 55px;
   position: absolute;
 }

#scoreboard {
  position: absolute;
  top: 5%;
  right: 5%;
  height: 200px;
  width: 300px;
  /* text-decoration-color: red; */
  background-image: url('./assets/images/boatgif.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 5px solid black;
  padding: 10px;
}

#scoreboard p {
  color: white;
}

/* #leaderboard {
  position: absolute;
  right: 30%;
  top: 5%;
  background-image: url('./assets/images/boatbackground.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 5px solid black;
}

#user-stats {
  position: absolute;
  right: 30%;
  top: 5%;
  background-image: url('./assets/images/boatbackground.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 5px solid black;
} */

#dank-logo {
  /* position: absolute; */
  width: 300px;
  height: 300px;
  margin-top: 50px;
  z-index: 200;
}

#player-data-div {
  line-height: 2px;
}

#game-over-text {
  position: absolute;
  top: 45%;
  left: 40%;
  color: red;
  transform: scale(5);
  z-index: 201;
}

#game-over-logo {
  /* right: 30%; */
  /* top: 1%; */
  position: absolute;
  width: 1000px;
  height: 650px;
  left: 10%;
  z-index: 200;
}
